@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-back {
  background: #ccb363;
}

.main-text {
  color: #ccb363;
}

.dark-text {
  color: #1e3226;
}

.h1-text {
  margin-top: calc((100vh - 72px) * 0.23);
}

.dark-back {
  background-color: #1e3226;
}

.grey-text {
  color: #6f7d7b;
}

.welcome-block {
  min-height: calc(100vh - 72px);
  background-image: linear-gradient(
    to top,
    #1e3226,
    #1e3226 70%,
    transparent 70%,
    transparent 100%
  );
}

.top-margin {
  margin-top: 72px;
}

.offer-img {
  border-radius: 10%;
  width: 100%;
  max-width: auto;
  height: auto;
}

.text-140xl {
  font-size: 140px;
}

.nav-items {
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 35px;
}

.nav-button-sell {
  background-color: #ccb363;
  color: white;
  box-shadow: 0px 0px 8.8px 1px #00000075;
}

.font-na {
  font-family: "Arial Narrow", Arial, sans-serif;
}

.font-cor {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.carousel-img {
  width: 100%;
  max-width: auto;
  height: auto;
}

.flex-container {
  flex-grow: 1;
  flex-wrap: wrap;
}

.offer-item {
  flex: 1 0 300px;
}

.calculator-block {
  box-shadow: 0px 7px 22.2px 0px #00000096;
}

.extra-dark-back {
  background: #262626;
}

.light-back {
  background: #fbedc3;
}

.pos-rel {
  position: relative !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.gentle-shake {
  animation: tilt-shaking 3s infinite;
  animation-delay: 3s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(0eg);
  }
  25% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
